:host {
  margin: 100px 0 0 50px;
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid red;
  margin-right: 20px;
  padding: 20px 40px;
  color: #000;
  background-color: darkgray;
}
